.x-panel {
  background-color: #fff;
}
.x-carousel-indicator {
  display:none;
}

.head, .torso, .legs {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}
.head-1{ background-image: url('/images/hi-res/1-exquisite-heads.png'); }
.head-2{ background-image: url('/images/hi-res/2-exquisite-heads.png'); }
.head-3{ background-image: url('/images/hi-res/3-exquisite-heads.png'); }
.head-4{ background-image: url('/images/hi-res/4-exquisite-heads.png'); }
.head-5{ background-image: url('/images/hi-res/5-exquisite-heads.png'); }

.torso-1{ background-image: url('/images/hi-res/1-exquisite-torsos.png'); }
.torso-2{ background-image: url('/images/hi-res/2-exquisite-torsos.png'); }
.torso-3{ background-image: url('/images/hi-res/3-exquisite-torsos.png'); }
.torso-4{ background-image: url('/images/hi-res/4-exquisite-torsos.png'); }
.torso-5{ background-image: url('/images/hi-res/5-exquisite-torsos.png'); }

.legs-1{ background-image: url('/images/hi-res/1-exquisite-legs.png'); }
.legs-2{ background-image: url('/images/hi-res/2-exquisite-legs.png'); }
.legs-3{ background-image: url('/images/hi-res/3-exquisite-legs.png'); }
.legs-4{ background-image: url('/images/hi-res/4-exquisite-legs.png'); }
.legs-5{ background-image: url('/images/hi-res/5-exquisite-legs.png'); }

#credits     { font-size: 50%; }
#credits p   { padding: 1em; width: 40%; }
.builder     { float: left;  text-align: left; }
.illustrator { float: right; text-align: right; }