.x-panel {
  background-color: #fff;
}
.panelOne {
  background-color: #fcc;
}
.panelTwo {
  background-color: #cfc;
}
.panelThree {
  background-color: #ccf;
}
.panelFour {
  background-color: #222;
}
